@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Source+Code+Pro:400,600|Roboto:400,700,500);

$font-body: 'Droid Sans', sans-serif;
$font-header: 'Roboto', sans-serif;
$font-monospace: 'Source Code Pro';

body {
  font-family: $font-body;
  font-size: 24px;
  margin-top: 10px;
}

ul {
  list-style-type: disc;
  //list-style-position: inside;
}

ul {
  margin-left: 24px;
  padding-left: 0;
}

li {
  margin-top: 10px;
  & > p {
    display: inline;
  }
}

h1, h2, h3, h4 {
  font-family: $font-header;
  font-weight: 300;
}

h1 {
  font-size: 48px;
  line-height: 64px;
  border-bottom: 3px solid lightgray;
}

h2 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 20px;
}

pre {
  font-size: 16px;
  font-family: $font-monospace;
  display: block;
  background-color: #fffee2;
  border: 1px solid #fffee2;
  border-radius: 6px;
  padding: 6px;
}

.title-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  & > h1 {
    font-size: 80px;
    font-weight: 900;
  }
}

.markdown-component img {
  display: block;
  margin-left: 30px;
}
