.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #222222;
  color: #FFFFFF;
  max-height: 100%;
  overflow: hidden;
}

.cover-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

.cover-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  -webkit-animation:spin 128s linear infinite;
  -moz-animation:spin 128s linear infinite;
  animation:spin 128s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.cover-title,
.cover-subtitle {
  display: block;
  text-align: center;
  border: none;
}

.cover-title {
  font-size: 72px;
}

.cover-subtitle {
  font-size: 24px;
}